#menu-header-comparison{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#comparison-graph{
    margin-right: 10px;
}

#comparison-table{
    margin: 0 10px;
    width:500px;
}

#button-clear-comparison{
    color:red;
}

#button-add-comparison{
    margin:10px;
}

#comparison-add-model-dropdowns{
    display: flex;
}

#comparison-content{
    display:flex;
}

.comparison-dropdown{
    margin: 0 10px;
}
