.graph-title{
    color: green;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.menu-title{
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}